<%= stylesheet_link_tag '/form.css' %>
<main class="form_main">                
    <section class="container" >  
        <div class="text">
            <h3>    Edit User  </h3>
        </div> 
        <%= render 'form' %>
    </section>
</main>  
