


            <main id="main-aboutus">
                
                <h2 id="about_us_h2">Get to know us</h2>
                <section id="section_about_us">
                    <div class="about-article">
                        <img src="https://cdn-icons-png.freepik.com/512/6234/6234914.png" alt="" >
                        <h4>LEADERSHIP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
                    </div>
                    <div class="about-article">
                        <img src="https://cdn-icons-png.flaticon.com/512/942/942818.png" alt="">
                        <h4>CAREER</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
                    </div>
                    <div class="about-article">
                        <img src="https://cdn-icons-png.flaticon.com/512/2612/2612945.png" alt="">
                        <h4>PARTNERSHIPS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
                    </div>
                    <div class="about-article">
                        <img src="https://cdn-icons-png.flaticon.com/512/118/118062.png" alt="">
                        <h4>PRESS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Repudiandae corrupti veritatis doloribus placeat quidem amet quisquam assumenda architecto explicabo impedit.</p>
                    </div>
                </section>
            </main>
 
