
    <main>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, architecto, placeat quod vel, 
                asperiores quae rerum illo dignissimos quos ab doloribus perspiciatis consequatur nostrum provident similique tempora? 
                Eius sint impedit delectus tempora quaerat? Ea cum commodi ullam recusandae labore? Ratione error beatae sequi consequuntur 
                eius debitis delectus fugiat, ea praesentium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores dolorum ullam illo consequatur laudantium, a repudiandae perspiciatis vel at? Atque eum excepturi optio repudiandae, aut veritatis voluptate est, temporibus impedit quia reiciendis 
                suscipit, consectetur corporis eos. Repudiandae, quod expedita quos fugiat reiciendis quas minus, vitae deleniti sint pariatur ad ex! <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, numquam. Ipsa corrupti, qui iste obcaecati, cupiditate sint impedit explicabo quos doloremque ullam optio nihil laboriosam illum! Enim, unde. Natus, eveniet ducimus quisquam 
                temporibus provident doloribus, itaque nemo aliquam magni vel facere quam accusantium. Dolorum facere laborum at rem tenetur error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima incidunt dolor dolores labore ipsam autem, neque eligendi repellendus, unde doloremque iste aliquid ex dignissimos, pariatur non rerum atque magni eum quisquam fugit ea voluptates laborum. 
                 Provident cumque asperiores error amet deleniti suscipit pariatur doloribus. Dolor, id? Voluptatibus ex mollitia nostrum.</p>       
            </article>
        <figure class="fig-1">
            <img src="https://wallpapers.com/images/featured/colorful-pictures-2kvc3wot07s3e4ym.jpg" alt="" style="height: 300px;width:390px">
            <img src="https://t3.ftcdn.net/jpg/01/86/46/78/360_F_186467829_n3JOUixZP39I3A7QCnDL07EAT0NAqMpT.jpg" alt="" style="height: 300px; width: 390px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCJ-QviJh6ryQnjon03Mn0ZfUmD93Qi9eKw_0PlZGMtw&s" alt=""style="height: 300px; width: 390px;">
        </figure>
    </main>
  